.root {
    &__body {
        margin-top: 15px;
    }
    &__title {
        font-size: 16px;
        margin-bottom: 20px;
    }
    &__container {
        max-width: 800px;
        margin: 0 auto;
        &__body {
            display: flex;
            column-gap: 20px;
        }
    }
}
