.root {
    cursor: pointer;
    margin-bottom: 2px;
    display: flex;
    border: 2px solid rgb(240, 240, 240);
    align-self: start;
    color: gray;
    padding: 5px;
    column-gap: 5px;
    border-radius: 10px;
}
