.root {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__form {
        padding: 30px 20px;
        border: 2px solid rgb(230, 230, 230);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo {
            margin-bottom: 20px;
        }
    }
    &__registration {
        &__link {
            display: block;
            margin-top: 15px;
            text-decoration: underline;
            color: rgb(150, 150, 150);
            font-size: 15px;
            font-weight: 600;
        }
    }
}
