.root {
    &__form {
        &__gender {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
            &__item {
                display: flex;
                align-items: center;
                input {
                    cursor: pointer;
                }
            }
            &__other {
                margin-top: 5px;
            }
            label {
                margin-right: 5px;
            }
        }
        &__input {
            width: 100%;
            border: 2px solid rgb(230, 230, 230);
            border-radius: 5px;
            padding: 5px;
            &:focus {
                border: 2px solid #459ef7;
            }
        }
    }
}
