.root {
    min-width: 300px;
    margin-bottom: 10px;
    & > div {
        margin-bottom: 15px;
    }
    &__form__input {
        width: 100%;
        border: 2px solid rgb(230, 230, 230);
        border-radius: 5px;
        padding: 10px;
        &:focus {
            border: 2px solid #459ef7;
        }
    }
    &__form__input__title {
        margin-bottom: 10px;
    }
}
