.root {
    background-color: rgb(245, 245, 245);
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__container {
        max-width: 1205px;
        margin: 0 auto;
    }
}
