.root {
    position: relative;
    &__input {
        width: 100%;
        border: 2px solid rgb(230, 230, 230);
        border-radius: 5px;
        padding: 10px;
        display: block;
        &:focus {
            border: 2px solid #459ef7;
        }
    }

    &__eye__body {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        img {
        }
    }
}
